# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Gemini API
GEMINI_API_KEY=

# Resend API
RESEND_API_KEY= re_jemUzNWZ_7cU5DJ4sm4V4iCdZgtsSexGB

# WAHA (WhatsApp HTTP API)
WAHA_API_URL=
WAHA_API_KEY=
WAHA_SESSION_NAME=default
