# Supabase
SUPABASE_URL= https://rcrtknakiwvfkmnwvdvf.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjcnRrbmFraXd2Zmttbnd2ZHZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2NjEyODYsImV4cCI6MjA4NTIzNzI4Nn0.Ca9m25c9K0_J_kCRphGSaECGs8CGz4-zUpVoA_rIERA
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjcnRrbmFraXd2Zmttbnd2ZHZmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTY2MTI4NiwiZXhwIjoyMDg1MjM3Mjg2fQ.cyX8hoZWpbZ1V8qAPUwoLAHE-mlftuhOuI1x7x8KYk0
SUPABASE_API_KEY= sb_publishable_FLqBdWWxvQ3Ba-3TY0k6CA_-KxNfAOA

# Gemini API
GEMINI_API_KEY=

# Resend API
RESEND_API_KEY= re_jemUzNWZ_7cU5DJ4sm4V4iCdZgtsSexGB

# WAHA (WhatsApp HTTP API)
WAHA_API_URL= https://waha-e1fqkhd0cijw.cgk-super.sumopod.my.id
WAHA_API_KEY= kDx7DDRlTic6RGfZ5nAaKjpQml6MFLBb
WAHA_SESSION_NAME=Dhika-WAHA

# Agent API Configuration
# Secret key for external AI agents (like OpenClaw)
AGENT_API_KEY=visibel-agent-viewer-2024

# Cron Configuration
# Set to 'false' to disable automatic background notifications
ENABLE_LOCAL_CRON=true
